b {
    color: #9E2A2B;
}

h1, h3, h5 {
    color: #540B0E;
}

.slider {
    outline: 1px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-runnable-track {
    background-color: #ccc;
}
  
.slider::-webkit-slider-thumb {
    background-color: #FFF3B0;
    outline: solid;
    outline-color: #E09F3E;
}

.slider:hover {
    opacity: 1;
}

.top {
    --offset: 50px; 
  
    position: sticky;
    bottom: 20px;      
    margin-right: 10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
  
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #E09F3E;
    border-radius: 100px;
    white-space: nowrap;
}
