{% extends "base.html" %}

{% block title %}Character Created{% endblock %}

{% block style %}
<style>
    b {
        color: #9E2A2B;
    }

    h1, h3 {
        color: #540B0E;
    }
</style>
{% endblock %}

{% block content %}
<br></br>
<!-- NPC Card -->
<div class="container rounded text-center justify-content-center p-3" style="background-color: white;">

    <!-- Name data -->
    <h1>{{ response.first_name }}</h1>
    <p class="text-capitalize"><em>{{ response.gender }} {{ response.race }} {{ response.occupation }}, {{ response.alignment }}</em></p>
    
    <!-- Attributes -->
    <hr class="border border-3 opacity-75">
    <table class="table table-sm table-borderless">
        <tr>
            <td colspan="2"><b>Armor Class</b> {{ response.ac }}</td>
            <td colspan="2"><b>Hit Points</b> {{ response.hp }}</td>
            <td colspan="2"><b>Speed</b> {{ response.speed }} ft.</td>
        </tr>
    </table>

    <!-- Stats and modifiers -->
    <hr class="border border-3 opacity-75">
    <table class="table table-sm table-borderless">
        <tr>
            <td><table class="table table-borderless mb-0">
                <tr><td><b>STR</b></td></tr>
                <tr><td>{{ response.stats.STR }} ({{ response.modifiers.STR_MOD}})</td></tr>
            </table></td>
            <td><table class="table table-borderless mb-0">
                <tr><td><b>DEX</b></td></tr>
                <tr><td>{{ response.stats.DEX }} ({{ response.modifiers.DEX_MOD}})</td></tr>
            </table></td>
            <td><table class="table table-borderless mb-0">
                <tr><td><b>CON</b></td></tr>
                <tr><td>{{ response.stats.CON }} ({{ response.modifiers.CON_MOD}})</td></tr>
            </table></td>
            <td><table class="table table-borderless mb-0">
                <tr><td><b>INT</b></td></tr>
                <tr><td>{{ response.stats.INT }} ({{ response.modifiers.INT_MOD}})</td></tr>
            </table></td>
            <td><table class="table table-borderless mb-0">
                <tr><td><b>WIS</b></td></tr>
                <tr><td>{{ response.stats.WIS }} ({{ response.modifiers.WIS_MOD}})</td></tr>
            </table></td>
            <td><table class="table table-borderless mb-0">
                <tr><td><b>CHA</b></td></tr>
                <tr><td>{{ response.stats.CHA }} ({{ response.modifiers.CHA_MOD}})</td></tr>
            </table></td>
        </tr>
    </table>
    
    <!-- Features -->
    <hr class="border border-3 opacity-75">
    <table class="table table-sm table-borderless">
        <tr>
            <!-- Skills coming soon -->
            <td colspan="2"><b>Senses</b> {{ response.senses }}</td>
            <td colspan="2"><b>Languages</b> {{ response.language }}</td>
        </tr>
    </table>

    <!-- Actions and weapons -->
    <hr class="border border-3 opacity-75">
    <h3>Actions</h3>
    <hr>
    {% set weapon_name = response.actions|first %}
    <p><b>{{ weapon_name }}</b> <i>{{ response.actions[weapon_name].type }}:</i> {{ response.actions[weapon_name].hit_modifier }} to hit, {{ response.actions[weapon_name].range }} range, {{ response.actions[weapon_name].damage }} {{ response.actions[weapon_name].damage_type }} damage,</p>
    
    <!-- Backstory -->
    {% if response.backstory %}
        <hr class="border border-3 opacity-75">
        <h3>Backstory</h3>
        <p>{{ response.backstory }}</p>
    {% endif %}
</div>

<!-- Generate Card Forms -->
<div class="container">
    <br>
    <form class="form" action="/npc" method="post">
        <div class="row">
            <div class="col form-floating">
                <select class="form-select" name="race" id="race_select">
                    <option selected value="">Any</option>
                    <option value="human">Human</option>
                    <option value="dwarf">Dwarf</option>
                    <option value="elf">Elf</option>
                </select>
                <label for="race_select">Character Race:</label>
            </div>

            <div class="col form-floating">
                <select class="form-select" name="gender" id="gender_select">
                    <option selected value="">Any</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <label for="gender_select">Character Gender:</label>
            </div>
        </div>

        <div class="row form-check m-2">
            <div class="col">
                <input class="form-check-input" type="checkbox" value="True" name="backstory" id="create_backstory">
                <label class="form-check-label" for="create_backstory">Include Backstory?</label>
            </div>
        </div>
        
        <button type="submit" class="btn mb-2" style="background-color: #E09F3E;" onclick="showSpinner('character_spinner')">
            <span id="character_spinner">Create Character</span>
        </button>
    </form>
</div>

<script>
    function showSpinner(spinner_id) {
        document.getElementById(spinner_id).innerHTML = '<div style="color: white;" class="spinner-border"></div>';
    }
</script>

{% endblock %}